<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input v-model="query"><button v-on:click="addUser">tambah</button>
        <li v-for="(user, index) in users" :key="user.name" 
            v-bind:key="user.id"
            v-bind:data-index="index">
          {{ user.name }} 
          <button v-on:click="editUser(index)">ubah</button>
          <button v-on:click="deleteUser(index)">hapus</button>
        </li>
    </div>
  
  <script>
   var vm = new Vue({
    el: '#app',
    data: {
        query: '',
        users: [
        { name: 'Muhammad Iqbal Mubarak' },
        { name: 'Ruby Purwanti' },
        { name: 'Faqih Muhammad'}
        ]
    },
    methods: {
        addUser() {
            this.users.push({ name: this.query})
        },
        deleteUser(index) {
            this.users.splice(index, 1);
        },
        editUser(index) {
            this.users.splice(index, 1, {name: this.query});
        }
    }
    })
  </script>
</body>
</html>
