<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aplikasi Vue #3: Latihan Directive pada Vue</title>

  <!-- Menyisipkan Vuejs dari CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
	<div id="app">
		<input v-model="query">
		<li id="items"
			v-for="(item, index) in result"
			v-bind:key="item"
			v-bind:data-index="index"
			>{{ item }}
		</li>
	</div>
	</div>

    <script> 
		var vm = new Vue({
			el: "#app",
			data: {
				query:"",
				books:[
					    "Kalkulus Dasar",
                        "Fisika Dasar",
                        "Aljabar Linier Elementer",
                        "Aljabar Abstrak",
                        "Algoritma Pemrograman"
				],
				isSearching:false,
				result: []
			},
            computed: {
                
            },
			watch: {
				query: function () {
					this.isSearching = true;
 
						vm.result = vm.books.filter(function (item){
							return item.toLowerCase().indexOf(vm.query.toLowerCase()) !== -1
						})
				}
			},
		});
	</script>
</body>
</html>